body {
	margin: 0 auto;
	padding: 0;
	color: whitesmoke;
	font-size: 14px;
	/*background-color: red;*/
}

.btn-primary{
	margin-top: 20px;
	color: #fff;
	background-color: inherit;
	border: none;
}

.inicio {  /*fondo verde con gradiente rojo*/
	height: auto;
	background: red; /* For browsers that do not support gradients */    
	background: -webkit-linear-gradient(right top, #61b58d, #c5774f); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom left, #61b58d, #c5774f); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom left, #61b58d, #c5774f); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, #61b58d, #c5774f); /* Standard syntax (must be last) */
}

img.img-responsive-instagram { /*logo instagram*/
	width: 40vh;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
	border: none;
}

.form-control {
	font-color: red; /*no funciona el rojo, no supe como cambiarle el color al escribir el input*/
	margin: 0 auto;
	height: 42px;
	margin-left: 0px;
	margin-top: -20px;
	background-color: #fff;
	opacity: 0.2; 
	border-radius: 0; 
}

.form-group1{
	margin-bottom: 40px; /*espacio entre medio de las dos cajas de input*/
}

.btn-primary-sesion { /*boton iniciar sesiòn*/
	width: 100%;
	color: #fff;
	background-color: transparent;
	height: 50px;
	border: 0.5px solid #cccccc;
}

p {
	padding-top: 15px;
	font-size: 12px;
	padding-left: 50px;
	padding-right: 50px;
}

.lines {
	line-height: 0.1;
	text-align: center;
}

span{
	font-weight: bolder; /*para darles "negrita" a las palabras marcadas con esta etiqueta*/
}

.lines span {
	display: inline-block;
	position: relative;
}
.lines span:before, /*rayas/líneas izq y der*/
.lines span:after {
	content: "";
	position: absolute;
	height: 0.3px;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	top: 0;
	width: 100px;
	margin-top: 5px;
	opacity: 0.5;
}

.lines span:before {
	right: 100%;
	margin-right: 15px;
}

.lines span:after {
	left: 100%;
	margin-left: 15px;
}

.fcbk{  /*logo de facebook para iniciar sesión por esta vía*/
	font-weight: bolder;
	padding-bottom: 60px;
}

.footer-txt-line{ /*texto del footer*/
	width: 100%;
	color: white;
	bottom: 0px;
	border-top: 1px solid #cccccc;
}

/* ESTILOS ARCHIVO INSTAGRAM.HTML */
.part-one-up{
	width: 100%;
	height: 50vh;
}

.box-1 {
	width: 50%;
	background-color: lightblue;
	height: 61vh;
	margin: -5px;
	border: 3px solid white;
}

.box-2 {
	background-color: #125890;
	width: 52%;
	height: 30vh;
	margin: 0px;
	border: 3px solid white;
}

.box-3 {
	background-color: indigo;
	width: 52%;
	height: 30vh;
	margin: 0px;
	border: 3px solid white;
}

.container [class*="col-"] {
	padding: 0;
	margin-bottom: 0;
}

div.col-xs-3.box{
	padding-top: 0px;
	padding-bottom: 0px;
	height: 20vh;
}

.img-responsive{
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0.5px solid black;
}

.img-responsive-photobooth {
	border: 0.3px solid grey;
	height: 85px;
	width: 100%;
}

.container{
	height: auto;
	width: 100%;
	margin-right: -5px;
}

.box{
	height: 100%;
}